$blog-orange: #ff4800;
$blogShadow: #666;
body {
	background: white;	
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	font-family: Open Sans, serif;
	
	
}
.marginEquator, .row {
		margin-left: 0px;
		margin-right: 0px;
	}

.navbar-default {
	background: none;
	border: none;
	box-shadow: none;
	color: black;
	.navbar-header {
		color: black;
	}
	.navbar-right {
		padding-right: 2em;
		i {
			font-size: 1.5em;
			color: black;
		}
	}
}

#skylinePhoto {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/skyline.jpg");
	background-size: cover !important;
	background-position: center !important; 

	#contentBox {
		color: white;
		text-align: center;
		padding: 0px;	
		#nameRow {
			padding-top: 4em;
			h1 {
				font-size: 5em;
			}
			
		}
		#navRow {
			display: inline-block;
			font-size: 1.5em;
			ul {
				text-align: center;
				margin: 0 auto;
				li {
					text-align: center;
					padding: 1em;
					a {
						padding: 0px;
						color: white;
						&:visited, &:hover, &:active, &:focus{
						color: white;
						background: transparent;
						}
				
					}
				}
			}
			#navCatDrop {
				&:visited {
					color: white;
				}
				&:hover, &:active, &:focus {
					color: white;
					background-color: transparent;
				}
				padding: 0;
				color: white;
			}
			#navCatDropped {
				color: black;
				li {
					text-align: left;
					padding: 0.5em; 
				}
			}
		}
		#lineAbove {
			margin-top: 5em;
		}
		#lineBelow {
			margin-bottom: 4em;
		}
		#mainQuote {
			font-style: italic;
			margin: 20px 0;
		}
	}
}

.shCard {
	margin-top: 3em;  
	box-shadow: 0px 5px 1em $blogShadow;
	#shImg {
		object-fit: cover;
		width: 100%;
		height: 250px;
		filter: grayscale(1)
	}
}
