$blog-orange: #ff4800;
body {
	background: white;	
	overflow-x: hidden !important;
	overflow-y: scroll;
}

.navbar-default {
	background: none;
	border: none;
	box-shadow: none;
	color: black;
	.navbar-header {
		color: black;
	}
	.navbar-right {
		padding-right: 2em;
		i {
			font-size: 1.5em;
			color: black;
		}
	}
}

#skylinePhoto {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/skyline.jpg");
	background-size: cover !important;
	background-position: center !important; 

	#contentBox {
		color: white;
		text-align: center;
		#nameRow {
			padding-top: 2em;
			
		}
		#navRow {
			display: inline-block;
			font-size: 1em;
			ul {
				text-align: center;
				margin: 0 auto;
				li {
					text-align: center;
					padding: 1em;
				}
			}
			#navCatDrop {
				&:visited {
					color: white;
				}
				&:hover, &:active, &:focus {
					color: white;
					background-color: transparent;
				}
				padding: 0;
				color: white;
			}
			#navCatDropped {
				color: black;
				li {
					text-align: left;
					padding: 0.5em; 
				}
			}
		}
	}
}
