body {
  background: white;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  font-family: Open Sans, serif; }

.marginEquator, .row {
  margin-left: 0px;
  margin-right: 0px; }

.navbar-default {
  background: none;
  border: none;
  box-shadow: none;
  color: black; }
  .navbar-default .navbar-header {
    color: black; }
  .navbar-default .navbar-right {
    padding-right: 2em; }
    .navbar-default .navbar-right i {
      font-size: 1.5em;
      color: black; }

#skylinePhoto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/skyline.jpg");
  background-size: cover !important;
  background-position: center !important; }
  #skylinePhoto #contentBox {
    color: white;
    text-align: center;
    padding: 0px; }
    #skylinePhoto #contentBox #nameRow {
      padding-top: 4em; }
      #skylinePhoto #contentBox #nameRow h1 {
        font-size: 5em; }
    #skylinePhoto #contentBox #navRow {
      display: inline-block;
      font-size: 1.5em; }
      #skylinePhoto #contentBox #navRow ul {
        text-align: center;
        margin: 0 auto; }
        #skylinePhoto #contentBox #navRow ul li {
          text-align: center;
          padding: 1em; }
          #skylinePhoto #contentBox #navRow ul li a {
            padding: 0px;
            color: white; }
            #skylinePhoto #contentBox #navRow ul li a:visited, #skylinePhoto #contentBox #navRow ul li a:hover, #skylinePhoto #contentBox #navRow ul li a:active, #skylinePhoto #contentBox #navRow ul li a:focus {
              color: white;
              background: transparent; }
      #skylinePhoto #contentBox #navRow #navCatDrop {
        padding: 0;
        color: white; }
        #skylinePhoto #contentBox #navRow #navCatDrop:visited {
          color: white; }
        #skylinePhoto #contentBox #navRow #navCatDrop:hover, #skylinePhoto #contentBox #navRow #navCatDrop:active, #skylinePhoto #contentBox #navRow #navCatDrop:focus {
          color: white;
          background-color: transparent; }
      #skylinePhoto #contentBox #navRow #navCatDropped {
        color: black; }
        #skylinePhoto #contentBox #navRow #navCatDropped li {
          text-align: left;
          padding: 0.5em; }
    #skylinePhoto #contentBox #lineAbove {
      margin-top: 5em; }
    #skylinePhoto #contentBox #lineBelow {
      margin-bottom: 4em; }
    #skylinePhoto #contentBox #mainQuote {
      font-style: italic;
      margin: 20px 0; }

.shCard {
  margin-top: 3em;
  box-shadow: 0px 5px 1em #666; }
  .shCard .shTA {
    margin-left: 0em; }
    .shCard .shTA .shTitle {
      color: #ff811d; }
      .shCard .shTA .shTitle h3 {
        font-weight: bolder;
        margin-top: 12px; }
    .shCard .shTA .shAuthor h5 {
      font-weight: bold; }
  .shCard .shImg {
    padding: 2px 0px;
    object-fit: cover;
    width: 100%;
    height: 220px;
    filter: grayscale(1); }
  .shCard .dateCol {
    margin-top: 6px;
    text-align: center; }
    .shCard .dateCol h2, .shCard .dateCol h4 {
      margin: 3px 0px;
      font-weight: bold;
      text-align: center; }
    .shCard .dateCol .dayDate {
      color: #ff811d; }
  .shCard .shText {
    font-weight: bold; }
    .shCard .shText strong {
      color: #ff811d; }
  .shCard .btn-warning {
    color: white;
    background-color: #ff811d;
    background-image: none;
    font-weight: bold;
    border: none;
    border-radius: 0px; }
  .shCard .shTags {
    font-size: 1em;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #ff811d; }
  .shCard .rightCard {
    color: #ff811d;
    padding: 5px 1em;
    font-weight: bold; }
  .shCard .recentPosts {
    border-top: 1px solid #eee;
    padding: 1em; }

@media only screen and (max-width: 768px) {
  .dateInliner {
    display: inline; }
    .dateInliner h2, .dateInliner h4 {
      display: inline;
      padding-left: 5px;
      font-size: 1.6em !important; } }
@media only screen and (max-width: 800px) {
  .shCard .shImg {
    height: 150px; }
  .shCard .shTA .shTitle h3 {
    font-size: 1.3em; }
  .shCard .shTA .shAuthor h5 {
    font-size: 0.9em; }
  .shCard .dateCol h2 {
    font-size: 1.8em; }
  .shCard .dateCol h4 {
    font-size: 1.2em; } }
@media only screen and (max-width: 1200px) and (min-width: 990px) {
  .shCard .shTA {
    padding-left: 30px; }
  .shCard .shImg {
    height: 170px; } }
@media only screen and (min-width: 1201px) {
  .shTA {
    padding-left: 20px; } }

/*# sourceMappingURL=main.css.map */
