{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sahil's Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
	<script src="https://use.fontawesome.com/d2fdde20f2.js"></script>
	
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.github.com/sahilkhurana19" target="_blank"><i class="fa fa-github"></i></a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/sahilkhurana19/" target="_blank"><i class="fa fa-linkedin"></i></a>
				</li>
				<li>
					<a href="mailto:sahil_khurana@outlook.com" target="_blank"><i class="fa fa-envelope"></i></a>
				</li>
				<li>
					<a href="https://www.facebook.com/sahil.khurana19" target="_blank"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/sahilkhurana19/" target="_blank"><i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a href="https://www.twitter.com/sahil_khurana19" target="_blank"><i class="fa fa-twitter"></i></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="conatiner-fluid">
		<div class="row" id="skylinePhoto">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="contentBox">
				<div class="row" id="nameRow">
					<h1>Sahil Khurana</h1>
				</div>
				<div class="row" id="navRow">
					<ul class="nav navbar-nav">
						<li>
							<a href="https://sahilkhurana19.github.io" target="_blank">Home</a>
						</li>
						<!--li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" ariahaspopup="true" aria-expanded="false" id="navCatDrop">Categories <span class="caret"></span></a>
							<ul class="dropdown-menu" id="navCatDropped">
								{% for tag in tags %}
									<li>
        								{{ tag.name }}
									</li>
    							{% endfor %}
							</ul>
						</li-->
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-sm-10 col-xs-10">
					<hr id="lineAbove">
					</div>
				</div>
				<div class="row">
					<!-- Create a random generator function to change quotes on page refresh -->
					<div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-sm-10 col-xs-10">
					<h1 id="mainQuote">Experience teaches slowly, and at the cost of mistakes</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-lg-10 col-sm-10 col-xs-10">
					<hr id="lineBelow">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-lg-offset-1 col-md-6 col-sm-7 col-xs-12 col-lg-6">
				{% for post in latest_posts %}
				<div class="row shCard">
					{% block index %}
					{% endblock %}
				</div>
				{% endfor %}
			</div>
			<div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-3 col-lg-3 col-sm-3 col-xs-12 shCard">
				<h1>
					RECENT POSTS
				</h1>
			</div>
		</div>
	</div>
</body>
</html>