{% extends 'blog/base.html' %}
{% block contact %}
<div class="row shCard">
    <div class="row" id="contactContact">
        <div class="col-md-12">
        <h1>Contact</h1>
        </div>
    </div>
    <div class="row" id="contactEmail">
        <div class="col-md-12">
        <h3>E-Mail: <a href="mailto:sahil_khurana@outlook.com">sahil_khurana@outlook.com</a></h3>
        </div>
    </div>
    <div class="row" id="contactPhone">
        <div class="col-md-12">
        <h3>Phone: <span>+918447149485</span></h3>
        </div>
    </div>
</div>
{% endblock %}