{% extends 'blog/base.html' %}
{% load static %}
{% block index %}
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-12">
            <div>
                {{ post.published_date|date:"d"}}
            </div>
            <div>           
                {{ post.published_date|date:"M" }}
            </div>
            <div>           
                {{ post.published_date|date:"Y" }}
            </div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-9 col-xs-12">
            <div>
                {{ post.title|title }}
            </div>
            <div>
                Written by <span>Sahil Khurana</span>
            </div>
        </div>
    </div>
    {% if post.image %}
    <div class="row">
        <img src="uploads/{{ post.image }}" class="img-responsive" id="shImg">
    </div>
    {% endif %}
    <div class="row">
        <p>{{ post.desc_sh|safe|truncatewords:30}}</p>
    </div>
    {% if post.desc_lg %}
    <div class="row">
        <a href="{% url 'blog:detail' post.id %}" target="_blank">Read more</a>
    </div>
    {% endif %}
    {% if post.tag_set %}
    <div class="row">
    {% for tags in post.tag_set.all %}
        {{ tags.name }}
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}